.publications-page #main {
  max-width: 1400px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.publications-page .page__content {
  font-size: 0.8em; /* tweak as desired */
}

.publications-page .archive__item-title {
  font-family: $global-font-family; /* matches About’s font */
}
